
body {
  background-color: #c3b474;
  font-family: sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}

.container {
  padding-top: 50px;
}

.robots {
  width: 80%;
  max-width: 500px;
}

.email {
  margin-top: 10px;
  color: #444;
}

h1 {
  font-size: 2em;
  color: #222;
}

.subtext {
  color: #555;
}

.note {
  color: #777;
  font-style: italic;
}

.icons span {
  font-size: 2em;
  margin: 10px;
  color: #555;
}
